.login-page {
  background-color: #ffddd2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row; /* 默认情况下为横向排列 */
}

.left-section,
.right-section {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: #fff1ee;
  border-radius: 20px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 60px 40px; /* 增加顶部内边距，以容纳猫爪图标 */
  text-align: center;
  width: 100%;
  max-width: 400px;
  background-image: url('../assets/overlay-background.svg');
  background-repeat: no-repeat;
  background-position: top center; /* 使猫爪图标位于顶部居中 */
  background-size: 50px; /* 根据需要调整图标大小 */
}


.tagline {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #3d2828;
  line-height: 1.2; 
  margin-bottom: 40px;
  text-align: left; 
}

.illustration-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
}

.google-signin-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: white;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.google-signin-button:hover {
  background-color: #d4d4d4; /* 鼠标悬停时改变背景颜色 */
  border-color: #ccc; /* 可以同时调整边框颜色 */
  color: #202124;
}

.google-signin-button-icon {
  margin-right: 8px;
}

.google-signin-button-text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.google-icon {
  width: 24px;
  height: 24px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

